*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.toast{
    position: fixed;
    bottom:30px;
    right:50px;
     background-color: #218838;
    color: white;
    padding: 12px 20px;
    font-weight: 600;
    font-size: 16px;
    border:none;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition:  all 0.5 ease;
    z-index: 1002;
}
.toast.open{
    opacity: 1;
    visibility: visible;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
    background-color: black;
    border-radius: 5px;
    margin:5px;
    color: white;
}
.header .brand{
    font-size: 20px;
    font-weight: bold;
}
 input{
     width:350px;
     padding: 7px 0px;;
     border:1px solid #ccc;
     border-radius: 5px;;
     cursor: pointer;
     transition: transform 0.3 ease;
     margin-right: 40px;
}

#cart-toggle{
    background-color: #218838;
    border-radius: 20px;
    border:0px;
    padding: 10px;
    cursor: pointer;
}
.Products{
    display: grid;
    grid-template-columns: auto auto auto auto;
   margin-left: 30px;;
   margin-top: 50px;
   margin-right: 0px;
  gap:10px;

}

.product{
    width:240px;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin-top: 15px;;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
.product:hover{
     background-color: #9ee493;
}
.img1{
    width:180px
}
.p1{
    font-size: 22px;
    font-weight: 600;
}
.amount{
    font-size: 20px;
    font-weight: 600;
}
.add{
    background-color: #218838;
    border:none;
    padding:8px 15px;
    border-radius: 7px;
    color:white;
    font-weight: 600;;
}
.add:hover{
    background-color: #28a745;
}
.container{
       width:100%;
       padding: 0px;
       position: fixed;
       left:0px;
       right:0px;
       bottom:0px;
       top:72px;
       padding-top:20px;
       border-radius: 15px 15px 0px 0px;
      transition: transform 0.3s ease;
       transform: translateY(100%);
        background-color: aquamarine;
    }
.container.open{
        transform: translateY(0);

    }
     #cart-toggle{
        
        visibility:visible  ;
    }
.cart-p>:nth-child(1){

}
.p2{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom:20px;
}
.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
   
}
.cart-p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 10px;
    margin:10px;
    border-radius:5px;
    
   
}
 
.img2{
    width:70px;  
}
.p3{
    font-size: 22px;
    font-weight: 600;
}
.num{
    width:30px;
}
.remove{
     background-color: red;
     padding: 10px 15px;
     border:0px;
     border-radius: 5px;
     margin:20px;
     ;
}
.total{
    background-color: black;
    color:white;
    padding:15px;
    text-align: right;
   border-radius: 5px;
   margin: 10px;;
}
.empty{
   text-align: center;
   font-size: 20px;
   font-weight:600;
   margin-bottom: 10px;
}